<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/PayPal.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>iBeleze</ion-card-subtitle>
      <div class="text"><h1>Concluir Pagamento via PayPal</h1>
      </div>
      <ion-row>
        <ion-col>Total
        </ion-col>
        <ion-col>
            <div class="text2"> {{currencyIcon}}{{total}}</div>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Confirmar Pagamento</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>