
<ion-content>

  <form [formGroup]="formGroup">
   
      <ion-item>
        <ion-label floating>Nome:</ion-label>
        <ion-input formControlName="nome" value="{{servicos.nome}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Duração:</ion-label>
          <ion-input formControlName="duracao"  value="{{servicos.duracao}}" type="text">
             </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Preço:</ion-label>
        <ion-input formControlName="preco"  value="{{servicos.preco}}" type="number">
           </ion-input>
          </ion-item>
           <ion-item>
            <ion-label floating>Descrição:</ion-label>
            <ion-input formControlName="desc"  value="{{servicos.desc}}" type="text">
               </ion-input>
        </ion-item>
 
  <ion-button color="tertiary" expand="full" (click)="atualizar()">Atualizar</ion-button>
  <h4>OU</h4>
  <ion-button color="tertiary" expand="full" (click)="delServico()">Excluir</ion-button>


</form>
</ion-content>
