:host{
  ion-content {
    width: 100%;
    height: 100%;
--background: rgb(131,102,177);
--background: linear-gradient(349deg, rgba(131,102,177,1) 0%, rgba(251,169,199,1) 100%);
  }
  .user-photo ion-avatar {
    
    margin: 0 auto;
      width: 110px;
      height: 110px;
      color: black;
      filter: drop-shadow(0 0 0.10rem black);
            }}

  .h2{
    font-weight: 400;
    padding-top:20px;
    font-weight: bold;
    color:white;
    filter: drop-shadow(0 0 0.10rem black);
    
  }
  .preset{
    margin: 0 auto;
    padding-top: 18px;
  }

.h3{
 font-size: 3vw;
padding-bottom: 4px;
opacity: 0.8;
color:white;
}

  ion-item{
      --background: rgb(131,102,177, 0.5);        
    filter: drop-shadow(0 0 0.10rem black);
      color: white;
  }

  .card{
    --background: rgb(131,102,177, 0.5); 
  }

  .bg{
    --background:white;
  }
ion-header{
--background: transparent;
}

.list{
--background:transparent;
}

p{
color:white;
}

.photo{
  position:absolute;
  top:10px; left:88px;
  color:white;
  filter: drop-shadow(0 0 0.10rem black);
  font-size: 20px;
}

.menu{
  font-size: 40px;
}


.image-upload>input {
  display: none;
}