
<ion-content>

    <ion-card (click)="goPage(x = 'editarperfil')">
        <ion-row >
            <ion-col >
                <div class="user-photo">
                    <ion-avatar>
                      <img src="{{imagem}}">
                    </ion-avatar>
                  </div>
            </ion-col>
                <ion-col>
                  <div class="preset">
                    <div class="h2"><ion-title>{{perfil.nome}} {{perfil.sobrenome}}</ion-title></div>
        <ion-title><div class="h3">Cancelar </div></ion-title>
                  </div>
              </ion-col>
              </ion-row>
            </ion-card>
            <ion-item>
                <input type="file" (change)="enviaArquivo($event)" />
              </ion-item>

<form [formGroup]="formGroup">

      <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label> 
              <p>Nome:</p>
            </ion-label>
        <ion-input formControlName="nome" value="{{perfil.nome}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
              <p>Sobrenome:</p>
            </ion-label>
        <ion-input formControlName="sobrenome" value="{{perfil.sobrenome}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>
              <p>Telefone:</p>
            </ion-label>
        <ion-input formControlName="telefone" value="{{perfil.telefone}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
              <p>Email:</p>
            </ion-label>
        <ion-input formControlName="email" value="{{perfil.email}}" type="text">
          </ion-input>
      </ion-item>
<ion-button color="tertiary" expand="full" (click)="atualizar()">Atualizar dados</ion-button>

</form>
</ion-content>