<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Senha Ao Email</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-list>
    <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
            <p>Email</p>
          </ion-label>
      <ion-input type="text" value="" [(ngModel)]="email" >
        </ion-input>
    </ion-item>
</ion-list>

<ion-button color="tertiary" expand="full" (click)="recuperarSenha()">Recuperar Senha</ion-button>
<ion-button color="tertiary" expand="full" (click)="logar()">Fazer Login</ion-button>
</ion-content>
