<ion-content>
  <ion-card class="welcome-card">
      <ion-item>
        <ion-avatar><img src="{{imagem}}"/></ion-avatar>
        </ion-item>
        
        <ion-item>
    <ion-col><h2>Categoria:</h2></ion-col> <ion-col><p>{{produtos.nome}}</p></ion-col>
    </ion-item>
      <ion-item>
        <ion-col><h2>Preço:</h2></ion-col> <ion-col><p>{{produtos.preco | currency:'BRL'}}</p></ion-col>
    </ion-item>
    <ion-item>
      <h2>Descrição do serviço:</h2>
    </ion-item>
    <ion-item>
    <p>{{produtos.descricao}}</p>
  </ion-item>
  </ion-card>
  <ion-button expand="block" color="tertiary" size="medium"  shape="round" tappablestyle="color: black;" (click)="addItem(produtos)">Adicionar no carrinho</ion-button>
<div padding-top="30px"></div>
</ion-content>