<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastro</ion-title>
    </ion-toolbar>
</ion-header>
<div class="user-photo" padding-top>
  <ion-avatar><img src="https://i.imgur.com/xjWsSja.png">
  </ion-avatar>
</div>
<ion-content>
<form [formGroup]="formGroup"> 
  <ion-list>
      <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
              <p>Nome</p>
            </ion-label>
        <ion-input formControlName="nome"  type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
              <p>Sobrenome</p>
            </ion-label>
        <ion-input formControlName="sobrenome"  type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="build" slot="start"></ion-icon>
          <ion-label>
              <p>Função</p>
            </ion-label>
        <ion-input formControlName="funcao"  type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
              <p>E-mail</p>
            </ion-label>
        <ion-input formControlName="email"  type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>
              <p>Telefone</p>
            </ion-label>
        <ion-input formControlName="telefone"  type="text">
          </ion-input>
      </ion-item>
</ion-list>
<ion-button color="tertiary" expand="full" (click)="cadastrar()">Cadastrar</ion-button>
</form>
</ion-content>
