
    
  

<ion-content padding>
  <h3>Nova Conta</h3>
    <ion-item>
      <ion-label fixed>E-mail</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <br>
  <ion-button color="tertiary" expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  <h4>OU</h4>
  <ion-button color="tertiary" expand="full" (click)="logar()">Logar</ion-button>

</ion-content>
