<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon/colocarlogo.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Ibeleze</ion-card-subtitle>
      <p>website www.ibeleze.com.br</p>
      <ion-card-title>Sobre o aplicativo Ibeleze</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum dapibus volutpat. Suspendisse
        potenti. Integer ut metus risus. Nunc eu augue a risus tincidunt viverra. Fusce rhoncus quis mi non fermentum.
        Sed fringilla quam vel purus placerat egestas. Suspendisse interdum, tortor quis efficitur gravida, quam elit
        porttitor enim, placerat volutpat lorem enim a diam. Nunc ac eros at est posuere sollicitudin at non felis.
        Vestibulum venenatis tempus dignissim. Fusce consectetur sit amet metus consectetur facilisis. Vestibulum
        egestas, orci id interdum pretium, sapien quam auctor velit, quis hendrerit justo sapien eget nisl. Pellentesque
        viverra tempor urna viverra mollis. Integer at leo et erat consectetur semper et a justo. Etiam eu congue augue.
        Duis vel eleifend eros.

        Aliquam erat volutpat. Donec finibus ipsum lacinia gravida congue. Cras a urna odio. Fusce volutpat pulvinar
        purus sit amet varius. Suspendisse justo leo, posuere ac leo in, ultrices tincidunt nisi. Phasellus non arcu
        velit. Nulla eu cursus orci. Maecenas faucibus enim feugiat, tincidunt lorem quis, maximus ex. In velit mauris,
        hendrerit vitae enim id, finibus aliquet velit.

        Duis suscipit volutpat euismod. Etiam sem metus, mollis vitae ante vitae, luctus interdum quam. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tempor tincidunt nulla,
        quis feugiat magna ornare non. Mauris et mi est. Aenean leo massa, ullamcorper feugiat felis vitae, lobortis
        mollis massa. Cras tincidunt diam et enim porta, nec feugiat ipsum tempor. Integer imperdiet, ante et commodo
        auctor, velit sem aliquet leo, ac egestas dolor enim quis purus. Aenean ullamcorper libero ut convallis
        fermentum. Phasellus et dignissim felis. Vivamus vel eleifend ipsum. Praesent eu semper lectus.

        Praesent at feugiat sem, tempus pharetra ex. In venenatis dolor nec lacinia efficitur. Fusce sed suscipit diam,
        tempus tristique tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Vestibulum consectetur justo sit amet dolor scelerisque, non consectetur velit iaculis. Sed varius ullamcorper
        justo, nec mollis ipsum aliquet nec. Ut pretium at ligula tincidunt accumsan. In tellus nulla, ullamcorper vel
        rutrum eu, aliquet condimentum augue. Maecenas suscipit pharetra lacinia. Praesent vitae lorem leo. Nam
        vestibulum urna et leo condimentum, ut porta massa placerat. Suspendisse potenti. Quisque ut malesuada augue.
        Nulla non augue pharetra, scelerisque magna id, consectetur sem. Nullam finibus, felis a consequat rutrum, purus
        sapien iaculis est, tempus feugiat ex magna in ex. Sed scelerisque risus vitae purus ornare, non viverra nisl
        gravida.

        Ut sed ullamcorper metus. Aliquam neque turpis, posuere eget commodo interdum, tincidunt eu nisi. Nulla nec
        pellentesque turpis, ut dignissim orci. Cras eu urna blandit, euismod massa eget, bibendum diam. Curabitur
        pretium ornare aliquet. Quisque ac rutrum purus, sed scelerisque velit. Proin tempor, mauris a porttitor
        tincidunt, felis est euismod erat, quis finibus massa erat at nibh. Ut vel fermentum metus. Suspendisse pharetra
        pellentesque ex vitae faucibus. Ut sollicitudin urna fermentum tortor vulputate pulvinar. Aliquam dolor odio,
        posuere sit amet egestas ac, tincidunt sed arcu. Nulla bibendum mi ut odio elementum hendrerit a nec purus.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Contato</ion-label>
          </ion-list-header>
          <ion-item><label>contatoibeleze@gmail.com</label>
            <ion-icon name="mail" color="warning" size="large" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
