<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Digite o nome do produto..." showCancelButton (ionInput)="filterList($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of listaProdutos">
            <ion-avatar slot="start">
              <img src="{{item.imagem}}" href="/produtos" />
            </ion-avatar>
            <ion-label>
              <h2>Nome: {{item.nome}}</h2>
              <h3>Categoria: {{item.categoria}}</h3>
              <h3>Preço: {{item.preco | currency:'BRL'}}</h3>
            </ion-label>
      <ion-icon name="arrow-forward" slot="end" (click)="goPage(item.id)"></ion-icon>
    </ion-item>
    </ion-list>

</ion-content>