:host {
    .user-photo ion-avatar {
      margin: 0 auto;
      width: auto;
      height: auto;
    }}
            .dropshadow {
            box-shadow: 10px 10px 8px #888888;
        }
    :host {
        .passwordforget {
          text-align: right;
          color: gray;
        }}