  
<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Localização</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- Mapa -->
  <div class="map" id="map" class="match-parent"></div>


  <!-- Recebe dados do mapa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="nome"></ion-card-title>
      <div class="user-photo" padding-top>
          <ion-avatar>
            <img id="myImg" src="{{imagem}}">
          </ion-avatar>
        </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-padding">
          <h3>Email:</h3>
          <p id="email"></p>
      </div>

      <div class="ion-padding">
        <h3>Qualificações:</h3>
        <p id="qual"></p>
    </div>

    <div class="ion-padding">
      <h3>Descrição:</h3>
      <p id="desc"></p>
  </div>
      
    </ion-card-content>

    <!-- botão para pagina do usuario selecionado -->
    <ion-button color="tertiary" class="ion-margin">
      <ion-icon name="cafe"></ion-icon>
      <h3>BOTÃO INUTIL DO VINICIUS</h3>
    </ion-button>

  </ion-card>
  
    
</ion-content>