  
<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Localização</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <!-- Mapa -->
  <div class="map" id="map" class="match-parent"></div>


  <!-- Recebe dados do mapa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="nome"></ion-card-title>
    </ion-card-header>
  
    <ion-card-content id="servicos">
    </ion-card-content>

    <!-- botão para pagina do usuario selecionado -->
    <ion-button class="ion-margin">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Vizualizar Perfil</ion-label>
    </ion-button>

  </ion-card>
  
    
</ion-content>