
  <ion-content>
        <div class="user-photo" padding-top>
                <ion-avatar>
                  <img src="{{imagem}}}">
                </ion-avatar>
              </div>
  
    <ion-item (click)="goPage(x = 'pagamento-pay-pal')">
        <ion-label floating>Pagamento</ion-label>
        <ion-icon name="card" slot="start" ></ion-icon>
    </ion-item>

    <ion-item (click)="goPage(x = '')">
        <ion-label floating>Favoritos</ion-label>
        <ion-icon name="star-half" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="goPage(x = '')">
        <ion-label floating>Endereço</ion-label>
        <ion-icon name="home" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="goPage(x = '')">
        <ion-label floating>Carteira</ion-label>
        <ion-icon name="card" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="goPage(x = '')">
        <ion-label floating>Cupons</ion-label>
        <ion-icon name="paper" slot="start"></ion-icon>
    </ion-item>
    
    <ion-item (click)="goPage(x = '')">
        <ion-label floating>Notificações</ion-label>
        <ion-icon name="notifications-off" slot="start"></ion-icon>
    </ion-item>

</ion-content>

<ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button (click)="goPage(x = 'editarperfil')">
            <ion-icon name="person"></ion-icon>
          </ion-tab-button>
  
            <ion-tab-button (click)="goPage(x = 'home')">
                <ion-icon name="home"></ion-icon>
              </ion-tab-button>
      
          <ion-tab-button (click)="goPage(x = 'configs')">
            <ion-icon name="settings"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>