:host{
    ion-content {
      width: 100%;
      height: 100%;
  --background: rgb(131,102,177);
  --background: linear-gradient(349deg, rgba(131,102,177,1) 0%, rgba(251,169,199,1) 100%);
    }
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 220px;
        height: 220px;
        color: black;
        margin-bottom: 30px;
      }}

    
    ion-item{
        --background: rgb(131,102,177, 0.5);
        color: white;
        font-weight: bold;
    }