<ion-content>
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label> 
        <p>Nome:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.nome}}" type="text">
    </ion-input>
</ion-item>
<ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>
        <p>Sobrenome:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.sobrenome}}" type="text">
    </ion-input>
</ion-item>
<ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label>
        <p>Telefone:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.telefone}}" type="text">
    </ion-input>
</ion-item>
<ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label>
        <p>Email:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.email}}" type="text">
    </ion-input>
</ion-item>
<ion-item>
    <ion-icon name="medal" slot="start"></ion-icon>
    <ion-label>
        <p>Qualificações:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.qualificacoes}}" type="text">
    </ion-input>
</ion-item>
<ion-item>
    <ion-icon name="list-box" slot="start"></ion-icon>
    <ion-label>
        <p>Descrição:</p>
      </ion-label>
  <ion-input  value="{{perfilPro.descricao}}" type="text">
    </ion-input>
</ion-item>

<ion-item>
  <div class="preset">
    <ion-card *ngFor="let item of listaServicos">
        <ion-icon color="light" name="create" size="large" (click)="servicoDetalhes(item.id)"></ion-icon>
        <ion-icon color="light" name="remove-circle" size="large" (click)="delServico(x = item.id)"></ion-icon>
        <ion-card-header>
          <ion-card-title class="h2">Nome: {{item.nome}}</ion-card-title>
          <ion-card-subtitle class="h3">R$:{{item.preco}}</ion-card-subtitle>
          <ion-card-subtitle class="h3">Duração: {{item.duracao}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="h3">
          {{item.desc}}
        </ion-card-content>
    </ion-card>
  </div>
</ion-item>

</ion-content>