<ion-content class="bg" padding>
        <ion-searchbar showCancelButton (ionInput)="filterList($event)"></ion-searchbar>
  
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content>
                    <img src="assets/img/dp.png">
                </ion-card-content>
                <ion-card-title>Depilação</ion-card-title>
                
              </ion-card>
        </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/img/tc.png">
                    </ion-card-content>
                    <ion-card-title>Trat. Corporal</ion-card-title>
                    
                  </ion-card>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="assets/img/tr.png">
                        </ion-card-content>
                        <ion-card-title>Treinamento</ion-card-title>
                        
                      </ion-card>
                </ion-col>
                    <ion-col>
                        <ion-card>
                            <ion-card-content>
                                <img src="assets/img/tf.png">
                            </ion-card-content>
                            <ion-card-title>Trat. Facial</ion-card-title>
                            
                          </ion-card>
                    </ion-col>
                    </ion-row>
    </ion-grid>
  </ion-content>

  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goPage(x = 'perfil')">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>

          <ion-tab-button (click)="goPage(x = 'home')">
              <ion-icon name="home"></ion-icon>
            </ion-tab-button>
    
        <ion-tab-button (click)="goPage(x = 'configs')">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>