<ion-content class="bg" padding>
    <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input (ionChange)="busca()" [(ngModel)]="texto"></ion-input>
      </ion-item>
  
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content>
                    <img src="assets/img/12.svg">
                </ion-card-content>
                <ion-card-title>Depilação</ion-card-title>
                
              </ion-card>
        </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/img/12.svg">
                    </ion-card-content>
                    <ion-card-title>Depilação</ion-card-title>
                    
                  </ion-card>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="assets/img/12.svg">
                        </ion-card-content>
                        <ion-card-title>Depilação</ion-card-title>
                        
                      </ion-card>
                </ion-col>
                    <ion-col>
                        <ion-card>
                            <ion-card-content>
                                <img src="assets/img/12.svg">
                            </ion-card-content>
                            <ion-card-title>Depilação</ion-card-title>
                            
                          </ion-card>
                    </ion-col>
                    </ion-row>
    </ion-grid>
  </ion-content>

  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goPage(x = 'editarperfil')">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>

          <ion-tab-button (click)="goPage(x = 'home')">
              <ion-icon name="home"></ion-icon>
            </ion-tab-button>
    
        <ion-tab-button (click)="goPage(x = 'configs')">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>