<ion-content class="bg">
    <ion-toolbar>
        <ion-searchbar aria-placeholder="Buscar" animated type="search" (ionChange)="busca()" [(ngModel)]="texto"></ion-searchbar>
      </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content>
                    <img src="assets/img/dp.png">
                </ion-card-content>
                <ion-card-title><div class="p">Depilação</div></ion-card-title>
                
              </ion-card>
        </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/img/tc.png">
                    </ion-card-content>
                    <ion-card-title><div class="p">Trat. Corporal</div></ion-card-title>
                    
                  </ion-card>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="assets/img/tr.png">
                        </ion-card-content>
                        <ion-card-title><div class="p">Treinamento</div></ion-card-title>
                        
                      </ion-card>
                </ion-col>
                    <ion-col>
                        <ion-card>
                            <ion-card-content>
                                <img src="assets/img/tf.png">
                            </ion-card-content>
                            <ion-card-title><div class="p">Trat. Facial</div></ion-card-title>
                            
                          </ion-card>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-card-content>
                                    <img src="assets/img/tr.png">
                                </ion-card-content>
                                <ion-card-title><div class="p">Treinamento</div></ion-card-title>
                                
                              </ion-card>
                        </ion-col>
                            <ion-col>
                                <ion-card>
                                    <ion-card-content>
                                        <img src="assets/img/tf.png">
                                    </ion-card-content>
                                    <ion-card-title><div class="p">Trat. Facial</div></ion-card-title>
                                    
                                  </ion-card>
                            </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col>
                                    <ion-card>
                                        <ion-card-content>
                                            <img src="assets/img/tr.png">
                                        </ion-card-content>
                                        <ion-card-title><div class="p">Treinamento</div></ion-card-title>
                                        
                                      </ion-card>
                                </ion-col>
                                    <ion-col>
                                        <ion-card>
                                            <ion-card-content>
                                                <img src="assets/img/tf.png">
                                            </ion-card-content>
                                            <ion-card-title><div class="p">Trat. Facial</div></ion-card-title>
                                            
                                          </ion-card>
                                    </ion-col>
                                    </ion-row>
    </ion-grid>
  </ion-content>
